header{
  background-image: url(../images/laptop-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  

}

.header-title{
  
  width: 35%;
  color: #696969;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;

  

    opacity: 1;
    animation: header-title 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes header-title{
  0%{
    transform: translate(-150%);
  }

  50%{
    transform: translate(40%);
  }

  100%{
  transform: translate(25%);
}

}


h1{
  font-size: 5rem;
  padding: 130px 10px 0;
  background-color: rgba(214, 235, 30, 0.8);
  margin-bottom: 0;


}
.salogen{
  background-color: rgba(214, 235, 30, 0.8);
  padding:18px 10px;
  margin-bottom: 0;
}


@media(max-width: 680px) {
  h1{
    font-size: 3rem;
  }
  .header-title{
    text-align: center;
    width: 70%;
  }
  .three-icons{
    text-align: center;
  }
}


.profile-pic{
  
  width: 150px;
  transition: 1.5s;
  margin: 25% 31% -15%;
}

.profile-pic:hover{
  transition-duration: 1s;
  transform: rotate(5deg) scale(120%);
}


.about{
  background-color: #D6EB1E;
  text-align: left;
  padding: 10px 20px;
}

.three-icons{
  padding: 50px 15px;
  width: auto;
  height: auto;
  background-color: #1EEBE4;
  transition: 1.5s;
}

.navbar{
  background-color: #1EEBE4;
}


.three-icons:hover{
  transform: scale(102%);
  transition-duration: 1.5s;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: right;
	
}

.site-nav a {
  width: auto;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
}
